.main_welcome {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
}
