.header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  color: #000;
  margin-top: -20px;
  padding-bottom: 1rem;
  border-bottom-color: #a2d9a9;
  border-bottom-style: solid;
  border-width: 4px;
}

.header_link {
  display: flex;
}

.header_user {
  display: flex;
}

.header_username {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.header_username,
.header_dashboard {
  display: flex;
  width: auto;
  align-items: center;
  margin-right: 25px;
  color: #3e7a52;
}

.header_username:hover {
  color: #83c89b;
}

.header_auth {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.profile_edit {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #3e7a52;
  font-weight: 600;
}

.profile_edit:hover {
  color: #83c89b;
}

.space {
  display: flex;
  padding-right: 12px;
}
